body {
  white-space: nowrap;
}

.hex:before {
  content: "";
  width: 0; height: 0;
  border-bottom: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  display: inline-block;
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #6C6;
  position: relative;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -30px;
  border-top: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.menu {
  width: 70%;
  margin: 0 auto;
  border-left: 3px solid blue;
  border-bottom: 3px solid blue;
  border-right: 3px solid blue;
  border-radius: 7px;
}

.modes {
  width: 50px;
  display: inline;
}

.modes.hidden {
  display: none;
}

.offset {
  left: 55px;
}

.subItem {
  width: 50px;
  display: inline-block;
}

.subItem.hidden {
  display: none;
}
