*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

input {
  width: 30px;
}

body {
  white-space: nowrap;
}

.hex:before {
  content: "";
  width: 0; height: 0;
  border-bottom: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  display: inline-block;
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #6C6;
  position: relative;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  color: gray;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -30px;
  border-top: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.subs {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  width: 70%;
  margin: 0 auto;
  border-left: 3px solid blue;
  border-bottom: 3px solid blue;
  border-right: 3px solid blue;
  border-radius: 7px;
}

.modes {
  width: 80px;
  height: 60px;
  border: 2px dashed black;
  border-radius: 20%;
  display: inline-block;
}

.offset {
  left: 55px;
}

.walls {
  width: 20px;
  height: 80px;
  border: 1px dashed black;
  border-radius: 10px;
  position: absolute !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 90px;
}

.troops {
  width: 80px;
  height: 60px;
  border: 2px dashed black;
  border-radius: 20%;
  position: absolute !important;
  background-repeat: no-repeat;
}

.object {
  width: 80px;
  height: 60px;
  border: 2px dashed black;
  border-radius: 20%;
  position: absolute !important;
  background-repeat: no-repeat;
  background-image: url('../images/objects.png');
  background-size: 60px auto;
}

.barrier {
  background-position: 8px -3px;
}

.bio {
  background-position: 8px -61px;
}

.bomb {
  background-position: 8px -122px;
}

.crowd {
  background-position: 8px -182px;
}

.fire {
  background-position: 8px -242px;
}

.rads {
  background-position: 8px -304px;
}

.rock {
  background-position: 8px -362px;
}

.skull {
  background-position: 8px -425px;
}

.lightning {
  background-position: 8px -483px;
}

.table {
  background-position: 8px -542px;
}

.axe {
  background-image: url('../images/axe.png');
  background-size: 70px auto;
}

.book {
  background-image: url('../images/book.png');
  background-size: 70px auto;
}

.bow {
  background-image: url('../images/bow.png');
  background-size: 70px auto;
}

.doctor {
  background-image: url('../images/doctor.png');
  background-size: 70px auto;
}

.knight {
  background-image: url('../images/knight.png');
  background-size: 70px auto;
}

.pistol {
  background-image: url('../images/pistol.png');
  background-size: 70px auto;
}

.shoe {
  background-image: url('../images/shoe.png');
  background-size: 70px auto;
}

.shotgun {
  background-image: url('../images/shotgun.png');
  background-size: 90px auto;
}

.shovel {
  background-image: url('../images/shovel.png');
  background-size: 90px auto;
}

.sword {
  background-image: url('../images/sword.png');
  background-size: 130px auto;
}

.door {
  background-image: url('../images/door.png');
}

.low {
  background-image: url('../images/low.png');
}

.open {
  background-image: url('../images/open.png');
}

.solid {
  background-image: url('../images/solid.png');
}

.weak {
  background-image: url('../images/weak.png');
}

.window {
  background-image: url('../images/window.png');
}

.troops.lr {
  background-position: 0px -140px;
}

.walls.lr {
  transform: rotate(60deg);
}

.troops.ll {
  background-position: 0px -210px;
}

.walls.ll {
  transform: rotate(120deg);
}

.troops.l {
  background-position: 0px -280px;
}

.walls.l {
  transform: rotate(180deg);
}

.troops.ul {
  background-position: 0px -350px;
}

.walls.ul {
  transform: rotate(240deg);
}

.troops.ur {
  background-position: 0px 0px;
}

.walls.ur {
  transform: rotate(300deg);
}

.troops.r {
  background-position: 0px -70px;
}

.walls.r {
  transform: rotate(0deg);
}

.shoe.r {
  background-position: 5px -85px;
}
.shoe.lr {
  background-position: 5px -155px;
}
.shoe.ll {
  background-position: 5px -225px;
}
.shoe.l {
  background-position: 5px -295px;
}
.shoe.ul {
  background-position: 5px -365px;
}
.shoe.ur {
  background-position: 5px -15px;
}

.shotgun.r {
  background-position: -5px -45px;
}
.shotgun.lr {
  background-position: -5px -100px;
}
.shotgun.ll {
  background-position: -5px -155px;
}
.shotgun.l {
  background-position: -5px -210px;
}
.shotgun.ul {
  background-position: -5px -265px;
}
.shotgun.ur {
  background-position: -5px 10px;
}

.shovel.r {
  background-position: -10px -70px;
}
.shovel.lr {
  background-position: -10px -135px;
}
.shovel.ll {
  background-position: -10px -195px;
}
.shovel.l {
  background-position: -10px -255px;
}
.shovel.ul {
  background-position: -10px -320px;
}
.shovel.ur {
  background-position: -10px -10px;
}

.sword.r {
  background-position: -20px -60px;
}
.sword.lr {
  background-position: -20px -115px;
}
.sword.ll {
  background-position: -20px -175px;
}
.sword.l {
  background-position: -20px -230px;
}
.sword.ul {
  background-position: -20px -290px;
}
.sword.ur {
  background-position: -20px 0px;
}

.subItem {
  width: 80px;
  height: 60px;
  border: 2px dashed black;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-size: 70px auto;
}

.subItem.axe {
  background-image: url('../images/troops.png');
  background-position: -0px -5px;
}

.subItem.book {
  background-image: url('../images/troops.png');
  background-position: -0px -75px;
}

.subItem.bow {
  background-image: url('../images/troops.png');
  background-position: -0px -145px;
}

.subItem.doctor {
  background-image: url('../images/troops.png');
  background-position: -0px -210px;
}

.subItem.knight {
  background-image: url('../images/troops.png');
  background-position: -0px -280px;
}

.subItem.pistol {
  background-image: url('../images/troops.png');
  background-position: 5px -355px;
}

.subItem.shoe {
  background-image: url('../images/troops.png');
  background-position: 5px -425px;
}

.subItem.shotgun {
  background-image: url('../images/troops.png');
  background-position: 5px -495px;
}

.subItem.shovel {
  background-image: url('../images/troops.png');
  background-position: 0px -565px;
}

.subItem.sword {
  background-image: url('../images/troops.png');
  background-position: 0px -630px;
}

.subItem.solid, .subItem.weak, .subItem.door, .subItem.window, .subItem.low, .subItem.open {
  background-position: center;
  background-size: 10px 60px;
}

.subItem.lightning, .subItem.barrier, .subItem.rads, .subItem.bio, .subItem.bomb, .subItem.rock, .subItem.crowd, .subItem.fire, .subItem.skull, .subItem.table {
  background-repeat: no-repeat;
  background-image: url('../images/objects.png');
  background-size: 60px auto;
}

.hidden {
  display: none;
}

.back {
  background-image: url('../images/back.png');
  background-size: 60px auto;
}

.mode-troops {
  background-image: url('../images/helm.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-walls {
  background-image: url('../images/wall.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-object {
  background-image: url('../images/cube.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-rotate {
  background-image: url('../images/rotate.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-move {
  background-image: url('../images/move.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-remove {
  background-image: url('../images/remove.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  border-style: solid;
  background-color: lightgray;
}
