*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

input {
  width: 10%;
}

body {
  white-space: nowrap;
}

.hex {
  font-size: 10em;
  display: inline-block;
  position: relative;
  color: #6C6;
  margin-left: -.05em;
  margin-bottom: -.25em;
  margin-top: -.25em;
}

.grid {
  position: absolute;
  top: 15%;
  border: .3em solid black;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 8%;
  padding-bottom: 2%;
  z-index: -1;
}

.subs {
  display: flex;
  flex-wrap: wrap;
}
.size {
  margin-bottom: .5em;
}

.menu {
  width: 70%;
  margin: 0 auto;
  border-left: .3em solid blue;
  border-bottom: .3em solid blue;
  border-right: .3em solid blue;
  border-radius: 1em;
  padding: .2em;
  background-color: white;
}

.modes {
  width: 5.5em;
  margin: .2em;
  height: 4em;
  border: .15em dashed black;
  border-radius: 20%;
  display: inline-block;
}

.offset {
  left: .4em;
}

.walls {
  width: 1.3em;
  height: 6em;
  border: .13em dashed black;
  border-radius: 1em;
  position: absolute !important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: .6em 7em;
}

.troops {
  width: 5.5em;
  height: 4em;
  border: .15em dashed black;
  border-radius: 20%;
  position: absolute !important;
  background-repeat: no-repeat;
}

.object {
  width: 5.5em;
  height: 4em;
  border: .15em dashed black;
  border-radius: 20%;
  position: absolute !important;
  background-repeat: no-repeat;
  background-image: url('../images/objects.png');
  background-size: 4em auto;
}

.barrier {
  background-position: .5em 0em;
}

.bio {
  background-position: .5em -4em;
}

.bomb {
  background-position: .5em -8.1em;
}

.crowd {
  background-position: .5em -12em;
}

.fire {
  background-position: .5em -16em;
}

.rads {
  background-position: .5em -20.3em;
}

.rock {
  background-position: .5em -24.3em;
}

.skull {
  background-position: .5em -28.3em;
}

.lightning {
  background-position: .5em -32.1em;
}

.table {
  background-position: .5em -36em;
}

.axe {
  background-image: url('../images/axe.png');
  background-size: 4em auto;
}

.book {
  background-image: url('../images/book.png');
  background-size: 4em auto;
}

.bow {
  background-image: url('../images/bow.png');
  background-size: 4em auto;
}

.doctor {
  background-image: url('../images/doctor.png');
  background-size: 4em auto;
}

.knight {
  background-image: url('../images/knight.png');
  background-size: 4em auto;
}

.pistol {
  background-image: url('../images/pistol.png');
  background-size: 4em auto;
}

.shoe {
  background-image: url('../images/shoe.png');
  background-size: 4em auto;
}

.shotgun {
  background-image: url('../images/shotgun.png');
  background-size: 6em auto;
}

.shovel {
  background-image: url('../images/shovel.png');
  background-size: 6em auto;
}

.sword {
  background-image: url('../images/sword.png');
  background-size: 8em auto;
}

.door {
  background-image: url('../images/door.png');
}

.low {
  background-image: url('../images/low.png');
}

.open {
  background-image: url('../images/open.png');
}

.solid {
  background-image: url('../images/solid.png');
}

.weak {
  background-image: url('../images/weak.png');
}

.window {
  background-image: url('../images/window.png');
}

.troops.lr {
  background-position: 0 -8.3em;
}

.walls.lr {
  transform: rotate(60deg);
}

.troops.ll {
  background-position: 0 -12.3em;
}

.walls.ll {
  transform: rotate(120deg);
}

.troops.l {
  background-position: 0 -16.3em;
}

.walls.l {
  transform: rotate(180deg);
}

.troops.ul {
  background-position: 0 -20.3em;
}

.walls.ul {
  transform: rotate(240deg);
}

.troops.ur {
  background-position: 0 -.3em;
}

.walls.ur {
  transform: rotate(300deg);
}

.troops.r {
  background-position: 0 -4.3em;
}

.walls.r {
  transform: rotate(0deg);
}

.shoe.r {
  background-position: .5em -4.3em;
}
.shoe.lr {
  background-position: .5em -8.3em;
}
.shoe.ll {
  background-position: .5em -12.3em;
}
.shoe.l {
  background-position: .5em -16.3em;
}
.shoe.ul {
  background-position: .5em -20.3em;
}
.shoe.ur {
  background-position: .5em -.3em;
}

.shotgun.r {
  background-position: -.4em -3.5em;
}
.shotgun.lr {
  background-position: -.4em -7.4em;
}
.shotgun.ll {
  background-position: -.4em -11em;
}
.shotgun.l {
  background-position: -.4em -14.5em;
}
.shotgun.ul {
  background-position: -.4em -18.2em;
}
.shotgun.ur {
  background-position: -.4em 0;
}

.shovel.r {
  background-position: -.3em -4.5em;
}
.shovel.lr {
  background-position: -.3em -9em;
}
.shovel.ll {
  background-position: -.3em -12.9em;
}
.shovel.l {
  background-position: -.3em -17.3em;
}
.shovel.ul {
  background-position: -.3em -21.5em;
}
.shovel.ur {
  background-position: -.3em -.4em;
}

.sword.r {
  background-position: -1.2em -3.7em;
}
.sword.lr {
  background-position: -1.2em -7.3em;
}
.sword.ll {
  background-position: -1.2em -10.5em;
}
.sword.l {
  background-position: -1.2em -14em;
}
.sword.ul {
  background-position: -1.2em -17.6em;
}
.sword.ur {
  background-position: -1.2em -0.4em;
}

.subItem {
  width: 5.5em;
  height: 4em;
  border: .15em dashed black;
  border-radius: 20%;
  background-repeat: no-repeat;
}

.subItem.solid, .subItem.weak, .subItem.door, .subItem.window, .subItem.low, .subItem.open {
  background-position: center;
  background-size: .7em 4em;
}

.subItem.lightning, .subItem.barrier, .subItem.rads, .subItem.bio, .subItem.bomb, .subItem.rock, .subItem.crowd, .subItem.fire, .subItem.skull, .subItem.table {
  background-repeat: no-repeat;
  background-image: url('../images/objects.png');
  background-size: 4em auto;
}

.hidden {
  display: none;
}

.back {
  background-image: url('../images/back.png');
  background-size: 4em auto;
}

.mode-troops {
  background-image: url('../images/helm.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-walls {
  background-image: url('../images/wall.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-object {
  background-image: url('../images/cube.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-rotate {
  background-image: url('../images/rotate.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-move {
  background-image: url('../images/move.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-remove {
  background-image: url('../images/remove.png');
  background-size: 4em auto;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  border-style: solid;
  background-color: lightgray;
}
